.cpcache/
*.sqlite
*.sqlite-*
*.sqlite.repl*
.nrepl-port
.test-repl-port
.test-repl.pid
.millstrand/.land-merge-lock.acquire

cli/bin/
/bin/
/go.work.sum
site/
node_modules/

.lsp/*
!.lsp/config.edn
.clj-kondo/.cache/
