{:op-help {},
 :queries
 {"run-active"
  {:params [:run-id],
   :where
   [:and
    [:= :state "active"]
    [:= [:attr "workflow/run-id"] [:param :run-id]]]},
  "kanban-feature-work"
  {:params [:feature],
   :where
   [:and
    [:= :state "active"]
    [:= [:attr "kanban/task"] "true"]
    [:edge/in "parent-of" [:= :id [:param :feature]]]]},
  "workflow-runs"
  [:and [:= :state "active"] [:= [:attr "workflow/role"] "root"]],
  "merge-lock"
  [:and [:= :state "active"] [:= [:attr "kind"] "merge-lock"]],
  "merge-queue"
  [:and [:= :state "active"] [:= [:attr "kind"] "merge-queue-entry"]],
  "work"
  [:and
   [:= :state "active"]
   [:or
    [:missing [:attr "agent-run/run"]]
    [:not [:= [:attr "agent-run/run"] "true"]]]
   [:or
    [:missing [:attr "kanban/lane"]]
    [:not [:= [:attr "kanban/lane"] "refinement"]]]
   [:or
    [:missing [:attr "workflow/role"]]
    [:not
     [:in [:attr "workflow/role"] ["root" "digest" "procedure"]]]]]}}
