{:op-help {},
 :queries
 {"run-active"
  {:params [:run-id],
   :where
   [:and
    [:= :state "active"]
    [:= [:attr "workflow/run-id"] [:param :run-id]]]},
  "workflow-runs"
  [:and [:= :state "active"] [:= [:attr "workflow/role"] "root"]],
  "devflow-runs"
  [:and
   [:= :state "active"]
   [:= [:attr "workflow/role"] "root"]
   [:= [:attr "workflow/family"] "devflow"]],
  "merge-lock"
  [:and [:= :state "active"] [:= [:attr "kind"] "merge-lock"]],
  "work"
  [:and
   [:= :state "active"]
   [:or
    [:missing [:attr "agent-run/run"]]
    [:not [:= [:attr "agent-run/run"] "true"]]]
   [:or
    [:missing [:attr "kanban/lane"]]
    [:not [:= [:attr "kanban/lane"] "refinement"]]]
   [:or
    [:missing [:attr "workflow/role"]]
    [:not
     [:in [:attr "workflow/role"] ["root" "digest" "procedure"]]]]]}}
