{:contract "PROP-Msr-001.S6"
 :phase :external-publishers-compatible
 :pins
 {codethread/devflow
  {:git/url "https://github.com/codethread/devflow.spool.git"
   :git/sha "3a96415df0429c245191a22e66cc0bfc91524199"}
  codethread/kanban
  {:git/url "https://github.com/codethread/kanban.spool.git"
   :git/tag "v24"
   :git/sha "87f61bc2750e7026f3650235907db25f19b1536e"}
  ct.spools/agent-run
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "1f06dfd046828f86c262537c190f854b87d90f6f"}}
 :deferrals []}
