{:paths ["."]
 :deps {io.millstrand/batteries {:local/root "../spools/batteries"}
        io.millstrand/unsafe-text-search {:local/root "../spools/unsafe-text-search"}
        codethread/config {:git/url "https://github.com/codethread/codethread.spool.git" :git/sha "6545ac4bb2907ef21766abe3e8af8d764fb03a20" :deps/root "spools/config"}
        ct.spools/harnesses {:git/url "https://github.com/codethread/harnesses.spool.git" :git/sha "6b5ad39d8711a033dc7f33fd52c78901393ea44e" :deps/root "."}
        millhouse.spools/land {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea" :deps/root "spools/land"}
        millhouse.spools/workflow {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea" :deps/root "spools/workflow"}
        millhouse.spools/kanban {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea" :deps/root "spools/kanban"}
        millhouse.spools/chime {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea" :deps/root "spools/chime"}
        millhouse.spools/cron {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea" :deps/root "spools/cron"}
        millhouse.spools/identity {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea" :deps/root "spools/identity"}}
 :aliases
 {:dev
  {:extra-paths ["."]
   :extra-deps
   {io.millstrand/millstrand {:local/root ".."}}}}}
