{:paths ["."]
 :deps {io.millstrand/batteries {:local/root "../spools/batteries"}
        io.millstrand/unsafe-text-search {:local/root "../spools/unsafe-text-search"}
        codethread/config {:git/url "https://github.com/codethread/codethread.spool.git" :git/sha "6c7a22cb4311076e172470a65298a089a85b52ef" :deps/root "spools/config"}
        ct.spools/harnesses {:git/url "https://github.com/codethread/harnesses.spool.git" :git/sha "6410da676b3b41be55a58f4abc5fe773cfc75cb9" :deps/root "."}
        millhouse.spools/land {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "89e5e32f8a948547c233d5dd183bb73f9c5abe4a" :deps/root "spools/land"}
        millhouse.spools/workflow {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "3132c8f7f10455c893da28fef0e9ca0047560f82" :deps/root "spools/workflow"}
        millhouse.spools/kanban {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "3132c8f7f10455c893da28fef0e9ca0047560f82" :deps/root "spools/kanban"}
        millhouse.spools/chime {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "e52162bda3bd2e3b806b262e216d688de5b811b5" :deps/root "spools/chime"}
        millhouse.spools/cron {:git/url "https://github.com/codethread/millhouse.spool.git" :git/sha "e52162bda3bd2e3b806b262e216d688de5b811b5" :deps/root "spools/cron"}}
 :aliases
 {:dev
  {:extra-paths ["."]
   :extra-deps
   {io.millstrand/millstrand {:local/root ".."}}}}}
