{:spools {codethread/spools
 {:git/url "https://github.com/codethread/codethread.spool.git",
  :git/sha "1b5ca296b4000e605a5d7c63d6414df30c53961f",
  :roots
  {codethread/config "spools/config",
   codethread/ralph "spools/ralph"}},
 millstrand.spools/unsafe-text-search
 {:millstrand/source-root "spools/unsafe-text-search"},
 codethread/devflow
 {:git/url "https://github.com/codethread/devflow.spool.git",
  :git/sha "f3a74045296eba0394709a1feab46f5ca910e343",
  :roots {codethread/devflow "."
         codethread/devflow-kanban-adapter "kanban-adapter"}},
 millstrand.spools/batteries
 {:millstrand/source-root "spools/batteries"},
 millhouse/spools
 {:git/url "https://github.com/codethread/millhouse.spool.git",
  :git/sha "3af5786f06121ee6055f34b4eefddc7000a84b5a",
  :roots
  {millhouse.spools/identity "spools/identity",
   millhouse.spools/workflow "spools/workflow",
   millhouse.spools/millstrand-workflows "spools/millstrand-workflows",
   millhouse.spools/chime "spools/chime",
   millhouse.spools/cron "spools/cron",
   millhouse.spools/kanban "spools/kanban",
   millhouse.spools.executors/code "spools/code-executor",
   millhouse.spools.executors/shell "spools/shell-executor"}},
 ct.spools/agent-run
 {:git/url "https://github.com/codethread/agent-harness.spool.git",
  :git/sha "85eaa606d2a8cc9200ad1098056d9f7bb94a2f20",
  :roots
  {ct.spools/harness-core "harness-core",
   ct.spools/codex-harness "codex-harness",
   ct.spools/agent-run "agent-run",
   ct.spools/agent-cli "agent-cli",
   ct.spools/delegation "delegation",
   ct.spools/bench "bench"}}}}
