{:spools {codethread/kanban
 {:git/url "https://github.com/codethread/kanban.spool.git",
  :git/sha "2947590e7965feb95a239189af3bd55f008d1209",
  :git/tag "v23",
  :roots {codethread/kanban "."}},
 skein.spools/chime {:skein/source-root "spools/chime"},
 skein.spools/unsafe-text-search
 {:skein/source-root "spools/unsafe-text-search"},
 codethread/devflow
 {:git/url "https://github.com/codethread/devflow.spool.git",
  :git/sha "b18b326fca39a513abdaa91a132c9c64fa4c4b2e",
  :git/tag "v20",
  :roots
  {codethread/devflow ".",
   codethread/devflow-kanban-adapter "kanban-adapter"},
  :requires {codethread/kanban "v23"}},
 skein.spools/batteries {:skein/source-root "spools/batteries"},
 skein.spools/cron {:skein/source-root "spools/cron"},
 skein.spools/workflow {:skein/source-root "spools/workflow"},
 ct.spools/agent-run
 {:git/url "https://github.com/codethread/agent-harness.spool.git",
  :git/sha "d28bfb35b5fc1891a7a318e06886aa446722241d",
  :git/tag "v25",
  :roots
  {ct.spools/harness-core "harness-core",
   ct.spools/codex-harness "codex-harness",
   ct.spools/agent-run "agent-run",
   ct.spools/agent-cli "agent-cli",
   ct.spools/delegation "delegation",
   ct.spools/bench "bench"}}}}
