{:spools {codethread/kanban
 {:git/url "https://github.com/codethread/kanban.spool.git",
  :git/sha "398a1610d094c85ad9c6691dafd213aaa35d73de",
  :git/tag "v20",
  :roots {codethread/kanban "."}},
 skein.spools/chime {:skein/source-root "spools/chime"},
 skein.spools/unsafe-text-search
 {:skein/source-root "spools/unsafe-text-search"},
 codethread/devflow
 {:git/url "https://github.com/codethread/devflow.spool.git",
  :git/sha "031bc04c288c0ac1e614d5a4f9442a8c87b5bd1d",
  :git/tag "v18",
  :roots {codethread/devflow ".",
          codethread/devflow-kanban-adapter "kanban-adapter"},
  :requires {codethread/kanban "v20"}},
 skein.spools/batteries {:skein/source-root "spools/batteries"},
 skein.spools/cron {:skein/source-root "spools/cron"},
 skein.spools/workflow {:skein/source-root "spools/workflow"},
 ct.spools/agent-run
 {:git/url "https://github.com/codethread/agent-harness.spool.git",
  :git/sha "bac36c342637b53cbeb138ef8e0e1474287a6a4d",
  :git/tag "v24",
  :roots
  {ct.spools/harness-core "harness-core",
   ct.spools/codex-harness "codex-harness",
   ct.spools/agent-run "agent-run",
   ct.spools/agent-cli "agent-cli",
   ct.spools/delegation "delegation",
   ct.spools/bench "bench"}}}}
