{:spools {codethread/kanban
 {:git/url "https://github.com/codethread/kanban.spool.git",
  :git/sha "572b08fb7871a70ddee0966cc6c38bfda7a68334",
  :git/tag "v13",
  :roots {codethread/kanban "."}},
 skein.spools/chime {:skein/source-root "spools/chime"},
 skein.macros/macros {:local/root "spools/macros"},
 skein.spools/unsafe-text-search
 {:skein/source-root "spools/unsafe-text-search"},
 codethread/devflow
 {:git/url "https://github.com/codethread/devflow.spool.git",
  :git/sha "c4a2dabc02c8649f5d3a9f71998baaf6fc909712",
  :git/tag "v11",
  :roots {codethread/devflow "."}},
 skein.spools/batteries {:skein/source-root "spools/batteries"},
 skein.spools/cron {:skein/source-root "spools/cron"},
 skein.spools/workflow {:skein/source-root "spools/workflow"},
 ct.spools/agent-run
 {:git/url "https://github.com/codethread/agent-harness.spool.git",
  :git/sha "0e3f43f695b0d4d1695754a59348c339220281a8",
  :git/tag "v15",
  :roots
  {ct.spools/agent-run "agent-run",
   ct.spools/delegation "delegation",
   ct.spools/bench "bench"}}}}
