{:hooks
 {:analyze-call
  {millstrand.api.millstrand.alpha/defop hooks.millstrand/deffn
   millstrand.api.millstrand.alpha/defop! hooks.millstrand/deffn
   millstrand.api.millstrand.alpha/defquery hooks.millstrand/defvalue
   millstrand.api.millstrand.alpha/defquery! hooks.millstrand/defvalue
   millstrand.api.millstrand.alpha/defpattern hooks.millstrand/deffn
   millstrand.api.millstrand.alpha/defpattern! hooks.millstrand/deffn
   millstrand.api.millstrand.alpha/defhook hooks.millstrand/deffn
   millstrand.api.millstrand.alpha/defhook! hooks.millstrand/deffn
   millstrand.api.millstrand.alpha/defhandler hooks.millstrand/deffn
   millstrand.api.millstrand.alpha/defhandler! hooks.millstrand/deffn
   millstrand.api.millstrand.alpha/defbin hooks.millstrand/defvalue
   millstrand.api.millstrand.alpha/defbin! hooks.millstrand/defvalue
   millstrand.api.millstrand.alpha/use-op! hooks.millstrand/use-vars
   millstrand.api.millstrand.alpha/use-query! hooks.millstrand/use-vars
   millstrand.api.millstrand.alpha/use-pattern! hooks.millstrand/use-vars
   millstrand.api.millstrand.alpha/use-hook! hooks.millstrand/use-vars
   millstrand.api.millstrand.alpha/use-handler! hooks.millstrand/use-vars
   millstrand.api.millstrand.alpha/use-bin! hooks.millstrand/use-vars
   millstrand.api.authoring.alpha/defauthoring hooks.millstrand/defauthoring
   millstrand.api.authoring.alpha/deflifecycle hooks.millstrand/defauthoring
   millstrand.api.lifecycle.alpha/defseed hooks.millstrand/defvalue
   millstrand.api.lifecycle.alpha/defseed! hooks.millstrand/defvalue
   millstrand.api.lifecycle.alpha/use-seed! hooks.millstrand/use-vars
   millstrand.api.lifecycle.alpha/defresource hooks.millstrand/defvalue
   millstrand.api.lifecycle.alpha/defresource! hooks.millstrand/defvalue
   millstrand.api.lifecycle.alpha/use-resource! hooks.millstrand/use-vars
   millstrand.api.lifecycle.alpha/defreconcile hooks.millstrand/defvalue
   millstrand.api.lifecycle.alpha/defreconcile! hooks.millstrand/defvalue
   millstrand.api.lifecycle.alpha/use-reconcile! hooks.millstrand/use-vars}}
 :lint-as {millstrand.test.alpha/with-weaver-world clojure.core/let}}
